# Default ignored files
/shelf/
/workspace.xml

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.idea/
*.iml
*.ipr
*.iws
*.log

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.framework

# VS Code
.vscode/

# Mac
*.DS_Store

